#wrapper {
  margin-top: 70px;
}

#topbar {
  background-color: #222222;
}

.projectMenu {
  font-size: 1.6em;
  display: flex;
  width: 1200px;
  margin: 100px auto 0px auto;
  padding-bottom: 15px;
  text-align: center;
  a,
  a:link,
  a:visited,
  a:focus,
  a:active {
    position: relative;

    top: 5%;
    margin: 0px auto;
    z-index: 5;
    text-decoration: none;
    font-weight: 100;
    font-family: 'Roboto Mono';
    color: rgb(223, 223, 223);
  }
  a:hover {
    color: white;
  }
  .projectLink {
    flex: 1;
    border: 1px solid rgb(199, 199, 199);
    margin: 10px;
    height: 42px;
  }
  .projectLink:hover {
    border: 1px solid white;
    a {
      color: white;
    }
  }
}
.projectTitle {
  font-family: 'Roboto Mono';
  font-size: 2em;
  width: 1000px;
  margin: 0px auto;
  padding-bottom: 25px;
  color: white;
  .projectName {
    width: 100%;
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .projectDesc {
    font-weight: 100;
    font-size: 0.7em;
    margin-top: -20px;
  }
}

.endpoint {
  color: #222222;
  margin-bottom: 40px;
}

/*  Mobile (Portrait) */
@media only screen and (max-width: 1200px) {
  .projectMenu {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    margin: 0px auto 0px auto;
    .projectLink {
      border: none;
      height: 15px;
    }
    .projectLink:hover {
      border: none;
    }
    a {
      padding: 5px;
      font-size: 0.6em;
    }
  }

  .projectTitle {
    width: 300px;
    .projectName {
      font-size: 36px;
    }
    .projectDesc {
      font-size: 12px;
      //   line-height:0.1em;
    }
  }
}
