h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5em;
  color: whitesmoke;
  text-align: center;
}

h4,
p {
  font-family: 'Roboto Mono', monospace;
}

.albumTitle {
  color: white;
}
#topbar {
  background-color:#19191D;
  top:0;
  z-index: 2;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  // background-color:#222223;
  //   grid-template-rows: auto 1fr auto;
  width: 100%;
  height: 50px;
  text-align: center;
  top: 0;
  position: fixed;

  //siding animation:

  transition: top 0.3s;
  #name {
    font-family: 'Roboto Mono';
    color: rgb(216, 216, 216);
    font-size: 2.5em;
    // margin-top: 10px;
  }
  #name:hover {
    border-top: 5px solid white;
    color: white;
  }

  .menu-btn {
    margin-top: 12px;
    font-size: 2.5em;
    height: 100px;
    width: 60px;
  }
  .menu-btn:hover {
    // border: 1px solid white;
    color: white;
  }
}
.icons:hover {
  color: white;
}
#menu-icon {
  height: 96px;
  float: left;
}
.icons {
  color: #dae3da;
}

.logoIMG {
  // position:absolute;
  margin-top: -10px;

  height: 100px;
  // float: left;
}
#smallLogo{
  display:none;
}

// .main {
//   text-align: center;

//   // margin-bottom: 30px;
//   margin: auto;
//   margin-bottom: 30px;
//   width: 80%;
//   .pageName {
//     font-family: 'Roboto Mono';
//     font-weight: bold;
//     font-size: 2em;
//   }
//   .pageDesc {
//     color: rgb(137, 176, 212);
//     font-size: 1.1em;
//     font-family: 'Roboto Mono';
//     margin-bottom: 23px;

//     // margin: 10px auto;
//   }
// }
#demoreel{
  margin-top:70px;
  z-index: 0;

  position:relative;
  padding-top:56.25%;
  iframe{
    position:absolute;top:0;left:0;width:100%;height:100%;
    }
}
hr {
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

#imgwall { 
  
  display: grid;
  /* grid-template-columns: repeat(auto-fill,minmax(50%,1fr)); */
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  grid-gap: 0px;
  /* margin: 0% 5%; */
  grid-template-rows: auto, 2fr;
}
.thumbnails {
  width: 100%;
  margin: 0px 0px;
  padding: 0px 0px;
  vertical-align: bottom;
  height: 100px;
  object-fit: cover;
}
.tempsidebar {
  margin-right: 10px;
}
body {
  background-image: linear-gradient(to left top, #5e5e5e, #555456, #4b4b4d, #424245, #39393d, #323237, #2c2c30, #25252a, #1f1f23, #19191d, #141417, #0c0c0f);
  font-family: 'Roboto';
  opacity: 1;
  transition: 1.2s opacity;
  margin:0px;
}
body.fade-out {
  opacity: 0;
  transition: none;
}

.caption {
  display: none;
}

.centerTop {
  margin-top: 10px;
  font-family: 'Roboto Mono', monospace;
  span {
    font-family: 'Roboto Mono', monospace;
  }
}
.rightTop {
  margin-top: 12px;
  i {
    padding: 5px;
  }
}
.end {
  font-weight: 100;
  a {
    font-family: 'Roboto Mono', monospace;
    color: #fafafa;
    
  }

  #backToTop{
    margin-left: 5px;
    color: #fafafa;

  }
  p {
    margin-left: 5px;

    color: #fafafa;
  }
}

.footer {
  width: 300px;
  margin: auto auto;
  p {
    font-weight: 100;
    font-size: 0.8em;

    text-align: center;
    color: #b3b3b3;
  }
}
.button {
  outline: 0;


  color: #9fa8b0;

  text-shadow: 1px 1px #1f272b;
  border: 1px solid #1c252b;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #232b30; /* old browsers */
  background: -moz-linear-gradient(
    top,
    #3d4850 3%,
    #313d45 4%,
    #232b30 100%
  ); /* firefox */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(3%, #3d4850),
    color-stop(4%, #313d45),
    color-stop(100%, #232b30)
  ); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* CSS3 */
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Firefox */
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Safari, Chrome */
}
.button:hover {
  color: #fff;
  background: #4c5a64; /* old browsers */
  background: -moz-linear-gradient(
    top,
    #4c5a64 3%,
    #404f5a 4%,
    #2e3940 100%
  ); /* firefox */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(3%, #4c5a64),
    color-stop(4%, #404f5a),
    color-stop(100%, #2e3940)
  ); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
}


/* responsive: */

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 1200px) {
  #imgwall {
    display: grid;
    /* grid-template-columns: repeat(auto-fill,minmax(50%,1fr)); */
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-gap: 0px;
    /* margin: 0% 5%; */
    /* grid-template-rows: auto, 2fr; */
  }
 

  .thumbnails {
    width: 100%;
    margin: 0px 0px;
    padding: 0px 0px;
    vertical-align: bottom;
    height: 300px;
    object-fit: cover;
  }
  #topbar {
    grid-template-columns: 125px 1fr;
    padding-bottom: 10px;
    .text {
      font-size: 1.0em;
      font-weight: 100;
      margin-top: 8px;
    }
  }

  .logoIMG {
    display: none;
  }
  .smallIMG {
    display: block;
  }
  .rightTop {
    display: none;
  }
  #smallLogo{

    top:0;
    display: block;
    height:42px;
    margin-left: 0px !important;
    margin-right:0px !important;
    margin-top:10px;

    
  }
  #demoreel{
    // top:60px;
    width:100%;
  }

}
  

/* desktop or bigger screens */
@media (min-width: 1200px) {
  #imgwall {
    display: grid;
    /* grid-template-columns: repeat(auto-fill,minmax(50%,1fr)); */
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 0px;
    /* margin: 0% 5%; */
    grid-template-rows: auto, 2fr;
  }
  .thumbnails {
    width: 100%;
    margin: 0px 0px;
    padding: 0px 0px;
    vertical-align: bottom;
    height: 650px;
    object-fit: cover;
  }
  #demoreel{
    top: 0px;
  }
}

/* for large screens */
@media screen and (min-width: 3000px) {
  #wrapper {

    margin-left: auto;
    margin-right: auto;
  }
  .thumbnails {
    max-width: 1720px;
    height: 1000px;
  }
  #imgwall {
    grid-template-columns: repeat(3, 1fr);
  }
  
}
