h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5em;
  color: whitesmoke;
  text-align: center;
}

h4,
p {
  font-family: 'Roboto Mono', monospace;
}

.albumTitle {
  color: white;
}

#topbar {
  padding-bottom: 20px;
  background: #0d0d0f;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 1fr 250px;
      grid-template-columns: 250px 1fr 250px;
  width: 100%;
  height: 50px;
  text-align: center;
  top: 0;
  position: fixed;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

#topbar #name {
  font-family: 'Roboto Mono';
  color: #d8d8d8;
  font-size: 2.5em;
}

#topbar #name:hover {
  border-top: 5px solid white;
  color: white;
}

#topbar .menu-btn {
  margin-top: 12px;
  font-size: 2.5em;
  height: 100px;
  width: 60px;
}

#topbar .menu-btn:hover {
  color: white;
}

.icons:hover {
  color: white;
}

#menu-icon {
  height: 96px;
  float: left;
}

.icons {
  color: #dae3da;
}

.logoIMG {
  margin-top: -10px;
  height: 100px;
}

.smallLogo {
  display: none;
}

hr {
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

#imgwall {
  display: -ms-grid;
  display: grid;
  /* grid-template-columns: repeat(auto-fill,minmax(50%,1fr)); */
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  grid-gap: 0px;
  /* margin: 0% 5%; */
  -ms-grid-rows: auto, 2fr;
      grid-template-rows: auto, 2fr;
}

.thumbnails {
  width: 100%;
  margin: 0px 0px;
  padding: 0px 0px;
  vertical-align: bottom;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.tempsidebar {
  margin-right: 10px;
}

body {
  background-color: #0d0d0f;
  font-family: 'Roboto';
  opacity: 1;
  -webkit-transition: 1.2s opacity;
  transition: 1.2s opacity;
}

body.fade-out {
  opacity: 0;
  -webkit-transition: none;
  transition: none;
}

.caption {
  display: none;
}

.centerTop {
  margin-top: 10px;
  font-family: 'Roboto Mono', monospace;
}

.centerTop span {
  font-family: 'Roboto Mono', monospace;
}

.rightTop {
  margin-top: 12px;
}

.rightTop i {
  padding: 5px;
}

.end {
  font-weight: 100;
}

.end a {
  font-family: 'Roboto Mono', monospace;
  color: #fafafa;
}

.end #backToTop {
  margin-left: 5px;
  color: #fafafa;
}

.end p {
  margin-left: 5px;
  color: #fafafa;
}

.footer {
  width: 300px;
  margin: auto auto;
}

.footer p {
  font-weight: 100;
  font-size: 0.8em;
  text-align: center;
  color: #b3b3b3;
}

.button {
  outline: 0;
  color: #9fa8b0;
  text-shadow: 1px 1px #1f272b;
  border: 1px solid #1c252b;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #232b30;
  /* old browsers */
  background: -moz-linear-gradient(top, #3d4850 3%, #313d45 4%, #232b30 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #3d4850), color-stop(4%, #313d45), color-stop(100%, #232b30));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 );
  /* ie */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* CSS3 */
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Firefox */
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Safari, Chrome */
}

.button:hover {
  color: #fff;
  background: #4c5a64;
  /* old browsers */
  background: -moz-linear-gradient(top, #4c5a64 3%, #404f5a 4%, #2e3940 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #4c5a64), color-stop(4%, #404f5a), color-stop(100%, #2e3940));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 );
  /* ie */
}

/* responsive: */
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 1200px) {
  #imgwall {
    display: -ms-grid;
    display: grid;
    /* grid-template-columns: repeat(auto-fill,minmax(50%,1fr)); */
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-gap: 0px;
    /* margin: 0% 5%; */
    /* grid-template-rows: auto, 2fr; */
  }
  .thumbnails {
    width: 100%;
    margin: 0px 0px;
    padding: 0px 0px;
    vertical-align: bottom;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #topbar {
    -ms-grid-columns: 125px 1fr;
        grid-template-columns: 125px 1fr;
    padding-bottom: 10px;
  }
  #topbar .text {
    font-size: 1.0em;
    font-weight: 100;
    margin-top: 8px;
  }
  .logoIMG {
    display: none;
  }
  .smallIMG {
    display: block;
  }
  .rightTop {
    display: none;
  }
  #smallLogo {
    top: 0;
    display: block;
    height: 42px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 10px;
  }
}

/* desktop or bigger screens */
@media (min-width: 1200px) {
  #imgwall {
    display: -ms-grid;
    display: grid;
    /* grid-template-columns: repeat(auto-fill,minmax(50%,1fr)); */
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 0px;
    /* margin: 0% 5%; */
    -ms-grid-rows: auto, 2fr;
        grid-template-rows: auto, 2fr;
  }
  .thumbnails {
    width: 100%;
    margin: 0px 0px;
    padding: 0px 0px;
    vertical-align: bottom;
    height: 650px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/* for large screens */
@media screen and (min-width: 3000px) {
  #wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  .thumbnails {
    max-width: 1720px;
    height: 1000px;
  }
  #imgwall {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=main.css.map */