a {
  text-decoration: none;
}

nav {
  font-family: 'Roboto';
  background: #1e1f2c;
  padding: 2em;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  display: none;
  -webkit-transform-origin: left;
          transform-origin: left;
}

nav .close-btn {
  position: absolute;
  width: 40px;
  float: left;
  cursor: pointer;
  opacity: 0;
}

nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 80%;
  list-style-type: none;
  margin: 150px auto;
  padding: 0;
  grid-gap: 10px;
}

nav ul a {
  color: white;
  font-weight: bold;
  font-size: 2em;
}

nav ul a:hover {
  border-top: 5px solid white;
}

nav ul span {
  color: gray;
  display: block;
  font-size: 1em;
  margin-top: 20px;
  border-top: 1px solid gray;
}

nav ul li {
  opacity: 0;
  -webkit-animation: menu-item-anim 0.5s forwards 0.2s ease-in-out;
          animation: menu-item-anim 0.5s forwards 0.2s ease-in-out;
  margin-bottom: 50px;
}

nav .icons {
  padding: 10px;
}

#contacts {
  border-top: 5px solid white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  font-family: roboto;
}

#contacts h3 {
  text-align: center;
  color: white;
  font-size: 3em;
  font-family: roboto;
}

.current {
  border-top: 5px solid lightgrey;
}

.show-menu {
  display: block;
  -webkit-animation: slide-menu 0.25s ease-in forwards;
          animation: slide-menu 0.25s ease-in forwards;
}

.show-menu .close-btn {
  -webkit-animation: show-x 0.5s 0.25s forwards;
          animation: show-x 0.5s 0.25s forwards;
}

.hide {
  display: none !important;
}

.set-background-blueish {
  background: #1e1f2c;
}

@-webkit-keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes close-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes close-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 1200px) {
  #name {
    margin: 50% auto;
  }
  nav ul {
    display: block;
    margin-top: 50px;
  }
  body {
    background-color: black;
  }
}
/*# sourceMappingURL=overlay.css.map */