a {
  text-decoration: none;
}

nav {
  font-family: 'Roboto Mono';

  // background:repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
  background-color: #222222;
  transform: scaleX(0);
  // width: calc(100% - 4em);
  height: calc(100vh - 4em);
  display: none;
  transform-origin: left;

  .close-btn {
    margin-top: 8px;
    margin-left: 12px;
    cursor: pointer;
    opacity: 0;
    color: #dae3da;
    font-size: 3em;
  }
  .close-btn:hover {
    color: white;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    list-style-type: none;
    margin: 9% auto 0px auto;
    padding: 0;
    grid-gap: 10px;

    a {
      color: white;
      font-weight: 100;
      font-size: 2em;
    }
    .nav-link:hover {
      border-top: 5px solid white;
    }

    span {
      color: rgb(150, 150, 150);
      display: block;
      margin-top: 20px;
      // border-top: 1px solid gray;
    }
    li {
      opacity: 0;
      animation: menu-item-anim 0.8s forwards 0.4s ease-in-out;
      margin-bottom: 42px;
    }
  }
  .icons {
    padding: 10px;
  }
  .iconbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
  }
  .email {
    font-size: 1em;
    // text-align: center;
  }
  .emailBox {
    text-align: center;

    margin: 20px auto;
    span {
      font-family: 'Roboto Mono';
      font-weight: 100;
      border: none;
      margin-bottom: 20px;
      color: #c2c2c2;
    }
  }
}
#contacts {
  // border-top: 5px solid white;
  grid-column: 1/5;

  font-family: roboto;

  h2 {
    text-align: center;
    color: white;
    font-size: 2em;
    font-family: roboto;
  }
}

.current {
  border-top: 1px solid lightgrey;
}

.show-menu {
  display: block;
  animation: slide-menu 0.35s ease-in forwards;

  //   li:nth-of-type(1) {
  //     animation: menu-item-anim 0.6s forwards 1s ease-in-out;
  //   }

  .close-btn {
    animation: show-x 0.8s 0.25s forwards;
  }
}
.hide {
  display: none !important;
}

.set-background-blueish {
  background: #222222;
}

.lock-scroll {
  @media only screen and (min-width: 1200px) {
    // margin: 0;
    height: 100%;
    overflow: hidden;
  }
}

// .noScroll {
//   overflow: hidden;
// }

@keyframes slide-menu {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes close-menu {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes menu-item-anim {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// mobile
@media only screen and (max-width: 1200px) {
  #name {
    margin: 50% auto;
  }
  nav {
    ul {
      display: block;

      // justify-items: center;

      margin-top: 0px;
      span {
        border-bottom: 1px solid gray;
        font-size: 0.8em;
      }
    }
    .nav-link {
      font-size: 1.3em;
    }
    li {
      .nav-desc {
        font-size: 0.8em;
        margin-left: 20px;
      }
      margin-bottom: 10px;
    }
  }
  .close-btn {
    margin-top: 8px;
  }
  .iconbar {
    display: flex;
    font-size: 10px !important;
    a {
      margin: auto;
    }
  }
}

// @media screen and (min-width: 3000px) {

//   nav{
//     ul{
//       top:1000px !important;
//     }
//   }

// }
